@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 4, sass/safari.sass */
  .log input {
    float: left;
    margin: 1px 4px 0px 0px;
  }

  /* line 9, sass/safari.sass */
  .standalone input[type="submit"] {
    font-size: 3em;
  }
}
